ion-content.background{
    --background: url(https://image.freepik.com/free-photo/beautiful-clouds-blue-sky-background_34251-117.jpg) 0 0/100% 100% no-repeat;
}

ion-card.background-card{
    opacity: 0.6; 
    background-color:cyan;
}


.background-header{
    --background: white;
}