<h3>Listings</h3>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Listing Id</th>
        <th>Title</th>
        <th>Location</th>
        <th>Description</th>
        <th>Number Of People</th>
        <th>Price Per Night</th>
        <th>User Id</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let listing of listings">
        <td>{{listing.listingID}}</td>
        <td>{{listing.title}}</td>
        <td>{{listing.location}}</td>
        <td>{{listing.descrption}}</td>
        <td>{{listing.numberOfPeople}}</td>
        <td>{{listing.pricePerNight}}</td>
        <td>{{listing.userId}}</td>
      </tr>
    </tbody>
  </table>
</div>