<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="curlistings"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <h1>View Bookings</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card *ngFor="let booking of bookings" class="background-card">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <!-- Booking Title and Status -->
          <ion-col push-md align-self: center>
            <ion-card-title>
              <h1>Booking title: Don't have this one yet</h1>
            </ion-card-title>
            <ion-card-subtitle>
              <h1>Current status: {{booking.status}}</h1>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <!-- Other details -->
    <ion-card-content>
      Booking Id: {{booking.Id}}
      <br>
      Hosted by host with Id: {{booking.hostId}}
      <br>
      Start date: {{booking.dateStart}}
      <br>
      End date: {{booking.dateEnd}}
    </ion-card-content>
    <!-- Cancel -->
    <div>
        <ion-button expand="full" (click)="cancel(booking)">CANCEL</ion-button>
    </div>
  </ion-card>
</ion-content>